@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12 mt-3">
        <div class="form-group">
            <label for="cityNameInput"></label>
            <input type="text" class="form-control" id="cityNameInput" aria-describedby="cityName" placeholder="Informe o Nome da Cidade" autocomplete="off">
        </div>
        <div class="container" id="result"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p id="erroMessage"></p>
    </div>
</div>
